body {
  background-image: url(https://i.pinimg.com/originals/b1/b0/34/b1b0345272cc2bc72cdd1a75bbb2b210.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.number {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 30px;
  border: 2px solid #7FDBFF;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  color: white;
  font-size: 30px;
}
.content {
  width: 645px;
  margin: 250px auto 0;
  /*background: #001f3f;*/
}

.generate {
  display: block;
  margin: 80px auto 0;
  padding: 20px 40px;
  font-size: 20px;
  background: #7FDBFF;
  border: none;
  border-radius: 10px;
  outline: none;
}
.generate:active {
  margin: 82px auto 0;
}
.generate:hover {
  box-shadow: 2px 0 0 1px #eee;
}

